APP_URL=http://localhost:3333
NODE_ENV=development

# Auth

APP_SECRET=23693ec7b33f6fad432905025954f8fb

# Database

DB_HOST=localhost
DB_USER=postgres
DB_PASS=docker
DB_NAME=gympoint

# Mongo

MONGO_URL=

# Redis

REDIS_HOST=127.0.0.1
REDIS_POST=6379

# Mail

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=23ce4e5353c9a1
MAIL_PASS=bd436f05f9838d

# Sentry

SENTRY_DSN=
