<strong>Olá, {{ student }}</strong>
<p>Sobre a sua pergunta, segue a resposta abaixo:</p>
<p>
  <strong>Question: </strong> {{ question }} <br />
  <strong>Answer..: </strong> {{ answer }} <br />
</p>
<small>
  Obrigado por fazer parte do GymPoint!!!
</small>
